<!DOCTYPE html>
<html lang="ja">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta charset="utf-8">
<title>nm_project</title>
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="./index.css">
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sortablejs@1.8.4/Sortable.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Vue.Draggable/2.23.2/vuedraggable.umd.min.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue-awesome@3.5.4/dist/vue-awesome.js"></script>

<!-- <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet"> -->


<script>
  // localStorage内の情報とチェック
  function storageGetTodo(){
    if(localStorage.getItem('todo')){
      let getjson = localStorage.getItem('todo');
      let todoStrage = JSON.parse(getjson);
      return todoStrage;
    }else{
      return null;
    }
  }
  function storageGetDone　(){
    if(localStorage.getItem('done')){
      let getjson = localStorage.getItem('done');
      let doneStrage = JSON.parse(getjson);
      return doneStrage;
    }else{
      return null;
    }
  }

  

  window.onload=function(){
    Vue.component('v-icon', window.VueAwesome);
    const draggable = window['vuedraggable'];
    
    new Vue({
      el:'#app',
      components: {
        'draggable': draggable,
      },
      data:{
        addTask:'',
        todoList:[
          // {id:null,done: false, text: "", time: null}
        ],
        doneList:[
        ],
        show: false,
        title:"",
        prefecture:"",
        disc:"",
        details: [
          {
            id: 1,
            place: "",
            description: "",
            startTime: "",
            endTime:""
          }
        ],
        imageData:""
      },
      created() {
        // localStorage内のデータ格納
        let todoStrage=storageGetTodo();
        let doneStrage=storageGetDone();

        if(todoStrage){
          for(let i=0;i<todoStrage.length;++i){
            this.todoList.push(todoStrage[i]);
          }
        }
        if(doneStrage){
          for(let i=0;i<doneStrage.length;++i){
            this.doneList.push(doneStrage[i]);
          }
        }
      },
      methods: {
        addTodoList:function(){
          if(this.addTask){
            let addTodo={done:false,text:this.addTask,time:null};
            this.todoList.push(addTodo);

            let setjson=JSON.stringify(this.todoList);
            localStorage.setItem('todo',setjson);

            this.addTask='';
          }
        },
        onEnd: function(originalEvent){
          console.log(this.todoList);//originalEventは イベントを取得できる
          console.log(originalEvent);//originalEventは イベントを取得できる
        },
        addForm() {
          const additionalForm = {
            place: "",
            description: "",
            time: ""
          }
          this.details.push(additionalForm);
        },
        deleteForm(id) {
          this.details.splice(id, 1);
        },
        sendForm(){
          let sendPlan={
            title:this.title,
            summary:this.disc,
            prefecture:this.prefecture,
            image:this.imageData,
            contents:this.details
          };
          axios.post('',{
            sendPlan
          })
          .then(response => this.users.unshift(response.data))
          .catch(error => console.log(error))
          window.location.reload();
        },
        onFileChange(e) {

          const files = e.target.files;

          if(files.length > 0) {

              const file = files[0];
              const reader = new FileReader();
              reader.onload = (e) => {

                  this.imageData = e.target.result;

              };
              reader.readAsDataURL(file);

          }

        }
      },
      computed:{
        remainingTodo:function(){
          return this.todoList.length;
        },
        remainingDone:function(){
          return this.doneList.length;
        },
        label: function() {
          return this.show ? "閉じる" : "プラン提案";
        }
      },
      watch:{
        todoList:function(){
          // todoListをfalseにセット
          for(let i=0;i<this.todoList.length;++i){
            this.todoList[i]['done']=false;
          }
          // localStorageに格納
          let setjson=JSON.stringify(this.todoList);
          localStorage.setItem('todo',setjson);
          console.log(this.todoList);
        },
        doneList:function(){
          // doneListにtrueを格納
          for(let i=0;i<this.doneList.length;++i){
            this.doneList[i]['done']=true;
          }
          // localStorageに格納
          let setjson=JSON.stringify(this.doneList);
          localStorage.setItem('done',setjson);
        },
        
      }
    })
  }
  
</script>
</head>
<body id="" class="nav-md">
  <div id="app">
    <h2>iitokoDorip</h2>
    <div class="">
    </div>
    <button v-on:click="show = !show">
      {{ label }}
    </button>
    <transition name="slide">
      <div v-if="show" class="panel">
        <div class="input-row">
          <p class="input-text">タイトル</p>
          <input class="input-text-area" v-model="title" type="text" name="title" required/>
        </div>
        <div class="input-row" >
          <h4 class="input-text">画像選択</h4>
            <label>
              <p><v-icon name="plus-circle"scale="2" class="plus-icon"/></p>
              <input type="file" accept="image/*" @change="onFileChange($event)">
             </label>
            <img class="post-img" :src="imageData" v-if="imageData" v-model="imageData">
      </div>
        <div class="input-row">
          <p class="input-text">都道府県</p>
          <select class="input-text-area" v-model="prefecture" name="prefecture">
            <option value="" selected>都道府県</option>
            <option value="北海道">北海道</option>
            <option value="青森県">青森県</option>
            <option value="岩手県">岩手県</option>
            <option value="宮城県">宮城県</option>
            <option value="秋田県">秋田県</option>
            <option value="山形県">山形県</option>
            <option value="福島県">福島県</option>
            <option value="茨城県">茨城県</option>
            <option value="栃木県">栃木県</option>
            <option value="群馬県">群馬県</option>
            <option value="埼玉県">埼玉県</option>
            <option value="千葉県">千葉県</option>
            <option value="東京都">東京都</option>
            <option value="神奈川県">神奈川県</option>
            <option value="新潟県">新潟県</option>
            <option value="富山県">富山県</option>
            <option value="石川県">石川県</option>
            <option value="福井県">福井県</option>
            <option value="山梨県">山梨県</option>
            <option value="長野県">長野県</option>
            <option value="岐阜県">岐阜県</option>
            <option value="静岡県">静岡県</option>
            <option value="愛知県">愛知県</option>
            <option value="三重県">三重県</option>
            <option value="滋賀県">滋賀県</option>
            <option value="京都府">京都府</option>
            <option value="大阪府">大阪府</option>
            <option value="兵庫県">兵庫県</option>
            <option value="奈良県">奈良県</option>
            <option value="和歌山県">和歌山県</option>
            <option value="鳥取県">鳥取県</option>
            <option value="島根県">島根県</option>
            <option value="岡山県">岡山県</option>
            <option value="広島県">広島県</option>
            <option value="山口県">山口県</option>
            <option value="徳島県">徳島県</option>
            <option value="香川県">香川県</option>
            <option value="愛媛県">愛媛県</option>
            <option value="高知県">高知県</option>
            <option value="福岡県">福岡県</option>
            <option value="佐賀県">佐賀県</option>
            <option value="長崎県">長崎県</option>
            <option value="熊本県">熊本県</option>
            <option value="大分県">大分県</option>
            <option value="宮崎県">宮崎県</option>
            <option value="鹿児島県">鹿児島県</option>
            <option value="沖縄県">沖縄県</option>
            </select>
        </div>
        <div class="input-row">
          <p class="input-text">概要</p>
          <textarea class="input-text-area" v-model="disc" name="disc" required>
          </textarea>
        </div>
        <div class="input-row">
          <p class="input-text">詳細</p>
          <div class="input-detail-area">
            <div class="input-row">
              <p class="input-text-detail">場所
                <input class="input-text-area-detail" v-model='details[0].place' type="text" name="" required/>
              </p>
            </div>
            <div class="input-row">
              <p class="input-text-detail">時間
                <input class="input-time-area-detail" v-model='details[0].startTime' type="time" name="" required/>
                〜
                <input class="input-time-area-detail" v-model='details[0].endTime' type="time" name="" required/>
              </p>
            </div>
            <div class="input-row">
              <p class="input-text-detail">備考
                <textarea class="input-text-area-detail" v-model='details[0].description'  required>
                </textarea>
              </p>
            </div>
          </div>
        </div>
        <div class="commands">
          <button class="add-btn" v-on:click="addForm">追加</button>
        </div>
        <div v-for="(detail,index) in details">

          <div v-if="index!=0" class="input-detail-area">
            <div class="input-row">
              <p class="input-text-detail">場所
                <input class="input-text-area-detail" v-model='detail.place' type="text" name="title"/>
              </p>
            </div>
            <div class="input-row">
              <p class="input-text-detail">時間
                <input class="input-time-area-detail" v-model='detail.startTime' type="time" name="title"/>
                〜
                <input class="input-time-area-detail" v-model='detail.endTime' type="time" name="title"/>
              </p>
            </div>
            <div class="input-row">
              <p class="input-text-detail">備考
                <textarea class="input-text-area-detail" v-model='detail.description'>
                </textarea>
              </p>
            </div>
          </div>

          <div v-if="index!=0" class="commands">
            <button class="del-btn" v-on:click="deleteForm(index)">削除</button>
          </div>
          
        </div>
        <p class="btn-center">
        <button class="send-btn" v-on:click="sendForm">投稿</button>
        </p>
      </div>
    </transition>

    <div id="plan-box">
      <div class="plan-title">
        <h2>提案プラン</h2>
      </div>
      <draggable :list="todoList" class="plan-body" :options='{group:"group1",animation:300}'>
        <div v-for="todo in todoList" class="list-item" v-if="remainingTodo!=0">
          {{todo.text}}
        </div>

        <div v-if="remainingTodo==0">
          <p class="list-nonitem">提案プランがありません</p>
        </div>
      </draggable>
    </div>

  </div>
  
    
  
</body>
</html>
