body{
  margin: 0;
  padding: 0;
  background: #eee;
}
#app{
  width: 80%;
  margin: auto;
}
#app h2{
  color: #1ABB9C;
  font-weight: bold;
  text-align: left;
}
button {
  font-size: 17px;
  padding: 10px;
  background: #1ABB9C;
  color: #2A3F54;
  border: none;
  cursor: pointer;
  outline: none;
  font-weight: bold;
}
.panel {
  background: white;
  padding: 18px;
  transform-origin: 0 0;
}

/* Animation */
.slide-enter-active, .slide-leave-active {
  transition: 1s;
}
.slide-enter, .slide-leave-to {
  transform: scaleY(0);
}
.input-row{
  margin: 15px 0 0 10px;
}
.input-text{
  width: 20%;
  margin: 0;
  font-weight: bold;
  font-size: 17px;
  color: #2A3F54;
}
.input-text-area{
  border: 2px solid #1ABB9C;
  border-radius: 6px;
  padding: 5px;
  width: 90%;
}
.input-text-detail{
  margin: 0;
  font-weight: bold;
  font-size: 17px;
  color: #2A3F54;
}
.input-text-area-detail{
  border: 2px solid #1ABB9C;
  border-radius: 6px;
  padding: 5px;
  width: 50%;
}
.input-time-area-detail{
  border: 2px solid #1ABB9C;
  border-radius: 6px;
  padding: 5px;
  width: 20%;
}

#plan-box{
  margin-top: 10%;
  width: 100%;
}
#plan-box .plan-title{
  color: #1ABB9C;
  font-weight: bold;
  text-align: center;
}
#plan-box .plan-title h2{
  margin: 0;
}
#plan-box .plan-body{
  background-color: white;
  border: 1px solid #2A3F54;
  border-radius: 20px;
  padding: 10px;
}
.list-item{
  padding: 10px;
  margin: 10px;
  border: 3px solid #1ABB9C;
  border-radius: 20px;
}
.list-nonitem{
  color: #2A3F54;
  text-align: center;
  padding: 10px;
  margin: 10px;
  font-weight: bold;
}
.add-btn{
  font-size: 13px;
  padding: 5px;
  background: #B22222;
  color: #eee;
  border: none;
  cursor: pointer;
  outline: none;
  font-weight: bold;
  border-radius: 5px;
}
.del-btn{
  font-size: 13px;
  padding: 5px;
  background: #696969;
  color: #eee;
  border: none;
  cursor: pointer;
  outline: none;
  font-weight: bold;
  border-radius: 5px;
}
.send-btn{
  font-size: 17px;
  padding: 10px;
  background: #1ABB9C;
  color: #2A3F54;
  border: none;
  cursor: pointer;
  outline: none;
  font-weight: bold;
  border-radius: 5px;
}
.btn-center{
  text-align: center;
}
.input-detail-area{
  padding: 5px 5px 10px 5px;
  background: #eee;
  margin: 5px;
  border-radius: 10px;
}